<ion-view view-title="Hangman">
  <ion-content class="padding">

    <section class="game-play">

      <figure>
        <span>Guesses Left:</span> <span class="guesses-left">8</span>
      </figure>

      <aside>
        <div>
          <span>Letters Guessed Already:</span>
          <span class="guessed-letters"></span>
        </div>

        <div>
          <label for="letter">Guess a Letter:</label>
          <input type="text" name="letter" id="letter" max-length="1" />
        </div>
      </aside>
    </section>

    <div class="game-word"><span id="finalWord"></span></div>

    <section class="game-controls">
      <button class="button" id="give-up">Give Up</button>
      <button class="button" id="new-game">New Game</button>
    </section>
    <script>

      $(document).ready(function() {
        newGame();
      })
    </script>

  </ion-content>
</ion-view>
